include options/options.pug

doctype html
head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title #{options.title}
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Mono")
  link(rel="stylesheet", href=("https://code.getmdl.io/1.2.1/material."+options.colorPrimary+"-"+options.colorSecondary+".min.css"))
  link(rel="stylesheet", href="https://getmdl.io/assets/prism-default.css")
  link(rel="stylesheet", href="./css/style.min.css")

body.language-javascript
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        .mdl-layout__header-row
          span.mdl-layout-title.mdl-cell--hide-phone #{options.title}
          .mdl-layout__header-input-cont
            .mdl-layout__header-input.mdl-textfield.mdl-js-textfield
              i.material-icons search
              input.mdl-textfield__input(type="text", placeholder="Szukaj")

            .mdl-layout__header--search-results-container
              .mdl-layout__header--search-results
                a(href="#each")
                  p: strong each
                  p Iterates over a list of elements, yielding each in turn to an iteratee function.
                a(href="#map")
                  p: strong map
                  p Produces a new array of values by mapping each value in list through a transformation function (iteratee).


      .mdl-layout__drawer
        span.mdl-layout-title
          | #{options.title}
          - if( options.version !== false )
            |  (#{options.version})

        nav.mdl-navigation#nav

        footer.mdl-footer
          span
            a(href="https://github.com/PolishDocs") PolishDocs
            | &nbsp;&copy;
            br
            a(href=options.licenseUrl) Licencja
            | &nbsp;|&nbsp;
            a(href=options.libUrl) #{options.title}


      main.mdl-layout__content
        .page-content
          .mdl-grid
            .mdl-cell.mdl-cell--8-col-desktop.mdl-cell--2-offset-desktop.mdl-cell--6-col-tablet.mdl-cell--1-offset-tablet.mdl-cell--4-col-phone#app




  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js", charset="utf-8")
  script(src="http://prismjs.com/prism.js", charset="utf-8")
  script(src="https://code.getmdl.io/1.2.1/material.min.js", charset="utf-8")
  script(src="./dist/js/app.min.js", charset="utf-8")
  script(src="./dist/js/script.min.js", charset="utf-8")
